.request-warehouse-route {
  .button-dropdown {
    right: inherit;
    left: 0;
    text-align: left;
  }

  .product-name {
    position relative;
    padding-left 25px;
    display: inline-block;

    img {
      height: 20px;
      border-radius: 3px;
      position: absolute;
      left: 0;
      top: 0;
    }
  }
}