.vip-route {
  .liti-input {
    margin-top: 20px;
  }


  .button-dropdown {
    min-width: 150px !important;
  }

}

.manage-vip-modal {
  .vip-already {
    margin-bottom: 24px;
    font-size: 13px;
  }
}