.date-picker {
  .input-group-text {
    height 34px !important;
  }

  .form-control {
    background white !important;
    height 34px !important;
  }

  position relative;

  .datepicker-dropdown {
    position: absolute;
    display: block;
    top: 100%;
    z-index: 100;

    &.day {
      width 300px;
    }
  }
}