.radio {
  margin-bottom 5px;
  .checkbox-value {
    border-radius 50%;

    .radio-value {
      width 10px;
      height 10px;
      background primary;
      border-radius 50%;
      top: 50%;
      left 50%;
      transform translate(-50%, -50%);
      position absolute;
    }
  }

}