.auto-complete {

  position relative;

  .fa-spinner {
    position absolute;
    top: 8px;
    right: 5px;
    color: #5e72e4;
  }

  .dropdown-menu {
    width 100%;

    .dropdown-item {
      cursor pointer;

      &.active {
        color: #fff;
        background-color: #5e72e4;
      }
    }
  }
}