.auto-complete {

  position relative;

  .fa-spinner {
    position absolute;
    top: 8px;
    right: 5px;
    color: #5e72e4;
  }

  .dropdown-menu {
    width 100%;
    position relative;


    .dropdown-item {
      cursor pointer;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      position relative;

      .btn-danger {
        position absolute;
        right: 20px;
        transform translate(0, -50%);
        top: 50%;
      }

      &.active {
        color: #fff;
        background-color: #5e72e4;
      }
    }
  }
}