.auto-complete {

  position relative;

  .fa-spinner {
    position absolute;
    top: 8px;
    right: 5px;
    color: #5e72e4;
  }



  .dropdown-menu {
    width 100%;
    position absolute;
    box-shadow: 0px 0px 13px 0px rgba(82, 63, 105, 0.05);
    background white;
    font-size: 12px;
    z-index 10;
    border: 1px solid #d1d7e2;
    border-top: 0;
    border-bottom-left-radius 2px;
    border-bottom-right-radius 2px;
    top: 35px;


    .dropdown-item {
      cursor pointer;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      position relative;
      padding: 0.7rem 1.2rem;
      color: #646c9a;
      transition: all 0.2s;
      display block;

      .btn-danger {
        position absolute;
        right: 20px;
        transform translate(0, -50%);
        top: 50%;
      }

      &.active {
        color: #5d78ff;
        background-color: #f8f9fa;
      }
    }
  }
}