.florist-cart-bottom {
  position absolute;
  bottom :0;
  left 0;
  z-index 10px;
  width 100%;
  background rgba(0, 0, 0, .8);
  color white;
  padding 10px 15px;
  font-size 13px;


  .btn-primary {
    position absolute;
    top: 0;
    right 0;
    height 100%;
    border-radius 0;
    transform none !important

  }
}