.setting-route {
  .card {
    .data-table {
      padding-bottom: 25px;

      .color-display {
        height: 31px;
        width 100%;
        border-radius 3px;
      }

      .btn {
        padding: 5px 10px;
      }
    }

    .select-color {
      width calc(100% - 80px);
    }

    .select-color-action {
      padding: 15px 25px;
      position relative;

      .btn-primary {
        position absolute;
        right: 15px;
      }
    }
  }
}