.setting-route {
  .card {
    .data-table {

      .type-name {
        line-height 30px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .color-display {
        height: 31px;
        width 100%;
        border-radius 3px;
        border: 1px solid #dedede;
      }

      .btn {
        padding: 5px 10px;
      }
    }

    .select-color {
      width calc(100% - 80px);
    }

    .liti-input {
      width calc(100% - 80px);
      margin-bottom 0;
    }

    .select-color-action {
      position relative;

      .btn-primary {
        position absolute;
        right: 15px;
        top: 20px;
        height: 35px;
      }
    }
  }
}