.input-quantity {
  position: relative;
  padding: 0 37px;

  .btn {
    position absolute;
    top: 5px;
    padding: 3px 6px;

    &.btn-danger {
      left 5px;
    }

    &.btn-primary {
      right 5px;
    }
  }

  .liti-input {
    margin-bottom 0 !important;
  }

  input {
    background white !important;
    font-weight 500 !important;
  }
}