.input-quantity {
  position: relative;
  padding: 0 45px;

  .btn {
    position absolute;
    top: 3px;

    &.btn-danger {
      left 5px;
    }

    &.btn-primary {
      right 5px;
    }
  }

  input {
    background white !important;
    font-weight 500 !important;
  }
}