.bill-customer {

  .card-title {
    position relative;

    .vip-card {
      position absolute;
      top: 10px;
      right 15px;
      cursor pointer;
    }

    .text-small {
      margin-top: 5px;
    }
  }

  .card-body {
    padding-top: 14px;
  }

  .text-action {
    cursor pointer;
    padding-left 10px;

    &:hover {
      text-decoration underline;
    }
  }


  @media (min-width 769px) {
    .row {
      display flex;

      .col {
        width calc(50% - 12px);

        &:first-child {
          margin-right 12px;
        }

        &:last-child {
          margin-left 12px;
        }
      }
    }
  }


  .info-customer {
    font-weight bold;
    font-size 13px;
    margin-bottom 10px;
  }
}