.data-table-mobile {

  .data-table-wrapper {

    width 100%;
    position relative;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    color: #646c9a;
    font-weight 500;
    font-size: 14px;

    &::-webkit-scrollbar {
      -webkit-appearance: none;
    }

    .loading-overlay {
      position absolute;
      top: 0;
      left 0;
      width 100%;
      height 100%;
      background: rgba(255,255,255,0.5);

      .loading-box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 169px;
        cursor: wait;
        box-shadow: 0 0 13px 0 rgba(82,63,105,0.05);
        background: #fff;
        font-size: 14px;
        line-height: 40px;
        font-weight: 500;

        .loading-icon {
          padding-left 10px;

          i {
            color primary;
            font-size 14px;
          }
        }


      }
    }



    .ge-table-header {
      width: 100%;
      display flex;


      .label {
        position relative;

        &.sorting {
          color #5d78ff;
        }

        .sort-icon {
          position: absolute;
          right: -10px;
          font-weight: 600;
          font-size: 11px;
          bottom: 2px;

          &.sort-up {
            transform rotate(-180deg);
            bottom: -3px;
          }
        }
      }


      .ge-col {
        padding 10px 10px;
        border-bottom: 1px solid #f0f3ff;
        border-top: 1px solid #f0f3ff;
        background-color: #fcfcfc;

        &.has-sort-by {
          cursor pointer;
        }


        &:first-child {
          padding-left 25px;
        }

        &:last-child {
          padding-right 25px;
        }
      }
    }

    .ge-table-body {
      background-color white;


      .ge-row {
        width: 100%;
        background-color white;
        display flex;
        position relative;
        transition background .2s;

        &.no-data {
          padding: 10px 25px;
          border-bottom: 1px solid #edeef3;

          &:hover {
            background: #f8f9fa;
          }
        }

        &:hover {
          .ge-col {
            background: #f8f9fa;
          }
        }

        .ge-col {
          padding 10px 10px;
          background-color white;
          border-bottom: 1px solid #edeef3;

          &:first-child {
            padding-left 25px;
          }

          &:last-child {
            padding-right 25px;
          }
        }
      }


    }


  }


}
