.manage-premises-route {
  .ct-title {
    font-size: 22px;
    font-weight: bold;
  }

  .margin-bottom {
    margin-bottom 10px;
  }

  @media (max-width 768px) {
    table {
      th {
        font-size 13px;
      }

      td {
        font-size 13px;
      }
    }
  }
}

.error-text {
  margin-bottom: 10px;
  font-size: 13px;
  color: red;
}