.customers-route {

  .customer-pay {
    width 100%;
    position relative;

    .show-info {
      padding-left 5px;
      font-size 11px;
      color primary;
      cursor pointer;
    }

    .info-wrapper {
      margin-top: 5px;
      font-size 12px;

      .info-item {
        margin-bottom 5px;
      }
    }
  }
}