.customers-route {
  select {
    height: 34px;
    padding: 5px;
    color: black !important;
    font-size: 13px;
  }

  .form-group {
    width 100%;
  }


  .table {
    td, th {
      font-size 14px !important;
    }
  }

}