.liti-input {
  position: relative;
  width: 100%;
  margin-bottom 24px;


  .top-info {
    position absolute;
    top: -18px;
    right 0;
    cursor pointer;
    font-size 11px;
    color primary;
  }



  &.has-error {
    .label {
      color danger !important;
    }

    input, textarea {
      border-color danger !important;
    }
  }

  &.focus {
    input, textarea {
      border-color: primary;
    }

    .bar {
      &:before, &:after {
        width 50%;
      }
    }

    .label {
      top: 0;
      font-size: 11px;
      color: primary;
    }
  }

  .error {
    position absolute;
    font-size: 10px;
    bottom: -15px;
    color danger;
  }

  .info {
    position absolute;
    font-size: 10px;
    bottom: -15px;
    color primary;
  }

  &.has-value {
    .bar {
      &:before, &:after {
        width 50%;
      }
    }

    .label {
      top: 0;
      font-size: 11px;
    }
  }


  input, textarea {
    width 100%;
    font-size: 14px;
    padding: 10px 15px;
    outline: none;
    color: #262626;
    border-radius: 2px;
    border: solid 1px #d1d7e2;
    transition 0.2s ease all;
    height 35px;

    &:read-only {
      background-color: #f1f2f3;
      font-weight bold;
    }
  }

  .bar {
    position absolute;
    background transparent;
    padding 0 5.5px;
    font-size: 11px;
    color transparent;
    top: -11px;
    left 11px;


    &:before, &:after {
      content: '';
      height: 100%;
      width: 0;
      position: absolute;
      background: white;
      transition: 0.2s ease all;
      top: 0;
    }

    &:before {
      left: 50%;
    }

    &:after {
      right: 50%;
    }
  }

  .label {
    color: #607d8b;
    font-size: 14px;
    position: absolute;
    pointer-events: none;
    top: 18px;
    left 16.5px;
    transform translate(0, -50%);
    transition: 0.2s ease all;
    z-index 2;
  }


  .icon {
    position: absolute;
    left: -30px;
    top: 50%;
    transform: translate(0, -50%);

    svg {
      width 22px;
    }
  }

}


