.form-group {
  margin-bottom 2rem;
  position relative;

  .form-control {
    color black !important;
  }

  .control-label {
    color black !important;
  }

  .error-text {
    color red;
    font-size 12px;
    margin-top: 5px;
    position absolute;
  }

  .info-text {
    color #5e72e4;
    font-size 12px;
    margin-top: 5px;
    position absolute;
    font-weight bold;
  }


  .spin-icon {
    position absolute;
    right 10px;
    top: 50%;
    transform translate(0, -50%);
  }
}