.input-group {
  display flex;

  .badge {
    height 100%;
    font-size 14px;
    line-height: 33px;
    padding 0 10px;
    font-weight bold;
    border: 1px solid #d1d7e2;
    border-right 0;
    background-color: #f7f8fa;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
  }

  .liti-input {
    flex 1;

    input {
      border-top-left-radius: 0 !important;
      border-bottom-left-radius: 0 !important;
    }
  }
}