.btn {
  cursor: pointer;
  align-items: center;
  background: transparent;
  outline: none !important;
  display: inline-block;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 8px 20px;
  line-height: 1.5;
  border-radius: 3px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  font-size 13px;

  &.btn-medium {
    font-size 12px;
    line-height normal;
  }

  &.btn-link {
    color black;
    background white;
    border-color: #dedede;

    &:hover {
      border-color: #ebedf2 !important;
      background-color: #f4f5f8 !important;
    }
  }


  &.btn-small {
    padding: 3px 6px;
    font-size 11px;
  }

  &.btn-primary {
    color: #fff;
    background-color: primary;
    border-color: primary;

    &:hover {
      background-color: darken(primary, 10%) !important;
      border-color: darken(primary, 10%) !important;
      color: #fff !important;
    }

    &:disabled {
      cursor not-allowed;
      background-color: #5d78ff;
      border-color: #5d78ff;
      opacity: 0.65;
    }
  }

  .loading-icon {
    padding-left 5px;
  }

  &.btn-danger {
    color: #fff;
    background-color: #fd397a;
    border-color: #fd397a;

    &:hover {
      color: #fff;
      background-color: #fd1361;
      border-color: #fc0758;
    }
  }

}