body {
  font-family: 'IBM Plex Sans', sans-serif;
  margin: 0;
  background #f9f9fc;
}

* {
  box-sizing border-box;
}


::-webkit-scrollbar-track-piece {
  background-color: #fff;
  -webkit-border-radius: 0;
}

::-webkit-scrollbar
{
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb:vertical
{
  height: 50px;
  background-color: #999;
  -webkit-border-radius: 4px;
  outline: 2px solid #fff;
  outline-offset: -2px;
  border: 2px solid #fff;
}

::-webkit-scrollbar-thumb:hover
{
  height: 50px;
  background-color: #9f9f9f;
  -webkit-border-radius: 4px;
}

::-webkit-scrollbar-thumb:horizontal
{
  /*水平滚动条的样式*/
  width: 5px;
  background-color: #CCCCCC;
  -webkit-border-radius: 6px;
}


.card {
  box-shadow: 0px 0px 13px 0px rgba(82, 63, 105, 0.05);
  background-color: #ffffff;
  margin-bottom: 30px;
  border-radius: 4px;

  .card-title {
    padding: 15px 25px;
    border-bottom: 1px solid #ebedf2;
    font-weight: 500;
  }

  .card-body {
    padding 25px;
    font-size 13px;
    color: #646c9a;
  }
}