// inject:all
@import "../../../src/app/components/auto-complete/auto-complete.styl";
@import "../../../src/app/components/checkbox/checkbox.styl";
@import "../../../src/app/components/date-picker/date-picker.styl";
@import "../../../src/app/components/dropdown/dropdown.styl";
@import "../../../src/app/components/google-maps/google-maps.styl";
@import "../../../src/app/components/input-tag/input-tag.styl";
@import "../../../src/app/components/input/input.styl";
@import "../../../src/app/components/layout/desktop/nav-desktop.styl";
@import "../../../src/app/components/layout/layout.styl";
@import "../../../src/app/components/layout/mobile/nav-mobile.styl";
@import "../../../src/app/components/loading-overlay/loading-overlay.styl";
@import "../../../src/app/components/modal/modal.styl";
@import "../../../src/app/components/pagination/pagination.styl";
@import "../../../src/app/components/time-picker/time-picker.styl";
@import "../../../src/app/router/bill/bill-info/bill-info.styl";
@import "../../../src/app/router/bill/bill-route.styl";
@import "../../../src/app/router/bill/bill-view/bill-view.styl";
@import "../../../src/app/router/bill/customer/bill-customer.styl";
@import "../../../src/app/router/bill/left-side/add/bill-add-item.styl";
@import "../../../src/app/router/bill/left-side/catalog/bill-catalog.styl";
@import "../../../src/app/router/customers/customer-bill-modal.styl";
@import "../../../src/app/router/customers/customers.styl";
@import "../../../src/app/router/draft/order-draft.styl";
@import "../../../src/app/router/florist-route/florist-route.styl";
@import "../../../src/app/router/florist-working-route/cart/florist-cart-bottom.styl";
@import "../../../src/app/router/florist-working-route/florist-working-route.styl";
@import "../../../src/app/router/login/login-route.styl";
@import "../../../src/app/router/manage-user-route/manage-user-route.styl";
@import "../../../src/app/router/order/bill-report.styl";
@import "../../../src/app/router/premises-route/premises-route.styl";
@import "../../../src/app/router/promotion/promotion-route.styl";
@import "../../../src/app/router/vip/vip-route.styl";
@import "../../../src/app/router/warehouse/warehouse-route.styl";
// endinject

no-select() {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  not supported by any browser */
}
