.florist-container {
  padding 0 !important;
  height: calc(100vh - 80px);

  .florist-working-route {

    height 100%;

    .catalog-list {
      padding 10px 15px;
      text-transform uppercase;
      display: flex;
      overflow-x: auto;
      flex-wrap: nowrap;
      -webkit-overflow-scrolling: touch;
      font-size 13px;

      .catalog-item {
        flex: 0 0 auto;
        padding-right 10px;
        cursor pointer;
      }

    }

    .search-item {

      padding 0 15px;
      padding-bottom 10px;
      border-bottom: 1px solid #edeef3;

      .form-control {
        padding 10px;
        font-size 13px;
        height: 30px;
        border-radius 0;
      }
    }

    .product-list {
      font-size 13px;
      overflow scroll;
      -webkit-overflow-scrolling: touch;
      max-height: calc(100% - 60px);

      .product-item {

        .product-title {
          background #fafafa;
          padding 10px 15px;
        }

        .product-item-wrapper {
          border-top: 1px solid #edeef3;

          .product {
            border-bottom: 1px solid #edeef3;
            padding 10px 15px;
            position relative;

            .action {
              position absolute;
              top: 50%;
              right 15px;
              transform translate(0, -50%);

              .form-group {
                margin-bottom 0 !important;
                margin-right: .5rem;
                display inline-block;

                .form-control {
                  width: 50px;
                  font-size: 11px;
                  padding: 0 12px;
                  height: 30px;
                  text-align center;
                }

              }

            }

            .title {
              font-size 16px;
              font-weight bold;
            }
          }
        }
      }
    }
  }
}