.bill-catalog {

  .card-title {
    padding 10px 15px;
  }


  overflow hidden;

  @media (min-width 769px) {
     overflow visible;
  }


  .product {

    padding: 10px 15px;
    border-bottom: 1px solid #edeef3;
    background white;
    padding-right 80px;
    position relative;
    cursor pointer;
    color: #646c9a;
    font-weight: 500;
    font-size: 14px;

    .badge {
      min-width: 10px;
      padding: 5px 7px;
      font-size: 10px;
      font-weight: 700;
      line-height: 1;
      color: #fff;
      text-align: center;
      white-space: nowrap;
      vertical-align: baseline;
      background-color: #777;
      border-radius: 10px;
      right .75rem;
      position absolute;
      top: 10px;

    }


    &:hover {
      background: #f8f9fa;

      .product-edit {
        opacity 1;
      }

    }

    .product-edit {
      position: absolute;
      top: 7px;
      z-index: 1;
      opacity 0;
      transition opacity .25s
      right: -35px;

      .btn-primary {
        margin-right 5px;
      }
    }


  }

}