.bill-view {

  .card-title {
    border-bottom 0;
  }

  .data-table {
    .remove-btn {
      margin-top: 5px;
    }

    .dt-col {
      margin-top: 5px;
    }
  }

  .card-body {
    font-size 14px;

    .select {
      margin-top: 14px;
    }
  }


}