.select-tags {

  .select {
    margin-bottom 0;

    .select-text {
      border: 0;
    }

    .select-dropdown {
      top: calc(100% + 1px) !important;
      left: -1px !important;
      width: calc(100% + 2px) !important;
    }

  }
}