.pagination {
  .page-item {
    display inline-block;
    font-size 13px;
    border-radius: 3px;
    padding 6px 10px;
    text-align center;
    margin-right 5px;
    background transparent;
    color: #93a2dd;
    transition all .25s;
    cursor pointer;
    font-weight 500;

    &.page-button {
      background: #f0f3ff;
    }

    &.active {
      background primary;
      color white;
    }

    &:hover {
      background primary;
      color white;
    }

    &.disabled {
      cursor not-allowed;
      background: #f0f3ff !important;
      opacity: 0.4;
      color: #93a2dd !important;
    }
  }
}
