.gallery-route {


  .product-image {
    .img-preview {
      width 100%;
      border-radius 5px;
    }
  }


  .product-name {
    position relative;
    padding-left 25px;
    display: inline-block;

    img {
      height: 20px;
      border-radius: 3px;
      position: absolute;
      left: 0;
      top: 0;
    }
  }
}

.manage-gallery-modal {
  .product-name {
    position relative;
    padding-left 25px;
    display: inline-block;

    img {
      height: 20px;
      border-radius: 3px;
      position: absolute;
      left: 0;
      top: 0;
    }
  }

  .btn-remove {
    margin-top: 5px;
  }
}