.gallery-route {


  .product-image {
    .img-preview {
      width 100%;
      border-radius 5px;
    }
  }


  .product-name {
    position relative;
    padding-left 25px !important;
    display: inline-block;

    img {
      height: 20px !important;
      width: 20px !important;
      border-radius: 3px;
      position: absolute;
      left: 0;
      top: 0;
    }
  }

  .row {
    display flex;
    flex-flow row wrap;

    .col {

      padding 12px;
      width 100%;

      @media (min-width 769px) {
        width 33.33%;
      }

      img {
        width 100%;
      }

      .card-title {
        position relative;

        .more-info {
          position absolute;
          font-size 12px;
          color primary;
          cursor pointer;
          right 12px;
          top: 12px
        }
      }
    }
  }
}

.manage-gallery-modal {
  .product-name {
    position relative;
    padding-left 25px;
    display: inline-block;

    img {
      height: 20px;
      width: 20px;
      border-radius: 3px;
      position: absolute;
      left: 0;
      top: 0;
    }
  }

  .btn-remove {
    margin-top: 5px;
  }
}