.gallery-route {

  .bill-item {
    border: 1px solid #dedede;
    border-radius: 3px;
    margin-bottom 10px;


    .image-header {
      img {
        width 100%;
      }
    }
  }

  .bill-body {
    padding 10px;
  }



}