.select-tags-color {

  .input-wrapper {
    height: 36px;
  }

  .tag-item {
    padding: 7px 15px;
    position: relative;
    padding-right: 25px;
    height: 35px;

    .remove-tag {
      position absolute;
      right 5px;
      top: 50%;
      transform translate(0, -50%);
    }

  }

  .select-color {

    width 100% !important;

    .select-text {
      border: 0 !important;

    }
  }
}