.select-tags-color {

  .tag-item {
    padding 10px 15px;
    position relative;
    padding-right 25px;

    .remove-tag {
      position absolute;
      right 5px;
      top: 50%;
      transform translate(0, -50%);
    }

  }

  .select-color {

    width 100% !important;

    .select-text {
      border: 0 !important;

    }
  }
}