.select-tags-color {

  .input-wrapper {
    height: 36px;
  }

  .select {
    margin-bottom 0;

    .select-text {
      border: 0;
    }

    .select-dropdown {
      top: calc(100% + 1px) !important;
      left: -1px !important;
      width: calc(100% + 2px) !important;
      display flex;
      flex-flow row wrap;
      padding 10px;
      padding-bottom 5px;

      .color-item {
        width 20px;
        height 20px;
        margin-right 5px;
        border-radius 2px;
        cursor pointer;
        border: 1px solid #dedede;
        margin-bottom 5px;
      }
    }

  }

  .tag-item {
    padding: 7px 15px;
    position: relative;
    padding-right: 25px;
    height: 35px;

    .remove-tag {
      position absolute;
      right 5px;
      top: 50%;
      transform translate(0, -50%);
    }

  }

}