.left-sidebar {
  width: 260px;
  height 100vh;
  overflow auto;
  background-color: #ffffff;
  box-shadow: 0px 0px 28px 0px rgba(82, 63, 105, 0.08);

  .logo {
    padding 20px 25px;
    height 40px;
    line-height 40px;
    padding-left: 72px;
    position relative;

    img {
      width: 40px;
      height: 40px;
      top: 20px;
      left: 24px;
      position absolute;
    }
  }

  .nav-item-wrapper {

    .nav-item-sub-wrapper {
      height 0;
      overflow hidden;
      transition all .2s;
    }

    a {
      text-decoration none;
      color black;
    }

    .nav-item {
      cursor pointer;
      padding 9px 30px;
      font-size 13px;
      font-weight: 500;
      transition all .2s;
      position relative;
      display block;

      .arrow-icon {
        color: #c4cff9;
        position absolute;
        top: 12px;
        right 30px;
        transition transform .2s;

        &.open {
          transform: rotate(90deg);
        }
      }

      &.nav-item-sub {
        font-weight 400;
        padding-left 39px;


        &:hover {
          background-color: #f6f7fd;
          color #536be2;


        }

        .dot {
          padding-right 6px;
        }
      }

      .nav-icon {
        padding-right 10px;
      }

      &:hover {
        background-color: #f8f8fb;
        color #536be2;

        .arrow-icon {
          color #536be2;
        }
      }

      &.active {
        background-color: #f6f7fd;
        color #536be2;

        .arrow-icon {
          color #536be2;
        }
      }
    }
  }
}