.select-color {

  width 245px;
  margin-bottom: 0;
  display inline-block;

  .select-text {
    width 100%;
    padding: 10px 15px;
    border-radius: 2px;
    border: solid 1px #d1d7e2;
    transition 0.2s ease all;
    min-height 40px;
    cursor: pointer;

    .color {
      height 16px;
      width 100%;
      border-radius 3px;
      transition background .2s;
    }
  }

  .picker-dropdown-wrapper {
    position absolute;
    top: 100%;
    left 0;
    width 245px;
    z-index: 10;
  }
}