.bill-route {

  overflow hidden;

  tr.hover-row:hover .on-out {
    display: none;
  }

  tr.hover-row .on-over {
    display: none;
  }
  tr.hover-row .on-out {
    padding-right: 13px;
  }
  tr.hover-row:hover .on-over {
    display: block;
  }

  tr.has-button {
    height: 65px;
  }

  tr.hover-row td .on-out {
    padding-top: 8px;
    padding-left: 12px;
  }

  .form-control {
    height 34px !important;
  }

  .btn-action {
    margin-bottom 100px;
  }

  .row {

    @media (min-width 769px) {
      display flex;
      flex-flow row wrap;

      .col-md-4 {
        width calc(30% - 12px);
        margin-right 12px;
      }

      .col-md-8 {
        width calc(70% - 12px);
        margin-left 12px;
      }
    }
  }
}