.bill-route {

  overflow hidden;

  .card-body {
    padding: 10px 15px;
  }

  .card-title {
    padding: 10px 15px !important;
  }

  .row {

    @media (min-width 769px) {
      display flex;
      flex-flow row wrap;

      .col-md-4 {
        width calc(30% - 12px);
        margin-right 12px;
      }

      .col-md-8 {
        width calc(70% - 12px);
        margin-left 12px;
      }
    }
  }
}