.bill-report-route {

  .ge-table-body {
    .ge-col {
      border-color #a9a9a9 !important;
    }

  }
  @media (min-width 769px) {
    .row {
      display flex;

      .col {
        width 45%;
        margin-right 10px;
        margin-bottom 10px;
      }

      .btn {
        height: 35px;
        flex: 1;
      }
    }

    .row-filter {
      display flex;

      .col {
        width 50%;

        &:first-child {
          margin-right 5px;
        }

        &:last-child {
          margin-left 5px;
        }
      }

    }
  }

  .button-dropdown {
    width 150px;
  }

  .img-preview {
    width: 50%;
    margin-top: 10px;
    border-radius: 4px;
  }


  .card-title {

    position relative;

    .text-small {
      padding-left 12px;
    }

    .btn-primary {
      position absolute;
      right 15px;
      top: 10px;
      padding: 5px 15px;
      font-size: 12px;
      text-decoration none;
    }

    .text-info {
      font-size 12px;
      margin-bottom 7px;

      &.margin-top {
        margin-top: 7px;
      }
    }
  }
}

.bill-report-modal {
  .checkbox {
    margin-bottom: 5px;
  }
}