.nav-desktop {
  padding-left 260px;
  padding-top: 60px;

  .left-sidebar {
    position fixed;
    top: 0;
    left 0;
  }

  .nav-header {
    position fixed;
    top: 0;
    left 260px;
    width calc(100% - 260px);
    box-shadow: 0px 0px 40px 0px rgba(82, 63, 105, 0.1);
  }
}