.request-preview-modal {
  .row {
    margin-top: 24px;

    input {
      background white !important;
      font-weight 500 !important;
    }
  }

  .modal-footer {
    border-top: 0 !important;
  }
}